*{
 background-color: aqua;   
}
h1{
    color: blueviolet;
}
p{
    color: goldenrod;
}
.destacada{
    color: brown;
}
.error{
    color: blue;
}
.destacada.error{
    color: green;
}
p span{
    color: blue;
}
#tengounid{
    color: black;
}
h3>span{color: blueviolet;}
.conwidth{
    background-color: azure;
    width: 100 px;
    height: 100px;
    border: 2px solid black;
    font: 1em sans-serif;
    color: black;
}
.conwidth>p{
    font: 1em sans-serif;
    color: black;
    background-color: azure;
}
